name: Build Electron App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4  # Actualizado a v4

    - name: Install Node.js
      uses: actions/setup-node@v4 # Actualizado a v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Build App
      run: npm run electron:build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4 # ¡ESTA ES LA CORRECCIÓN CLAVE!
      with:
        name: Instalador-Explorador-SQL
        path: release/*.exe
